<header>
  <div class="navbar bg-base-100 gap-3">
    <a routerLink="home">
      <img src="logo.webp" width="40" alt="Easy Survey">
    </a>
    <h2 class="text-xl font-medium">Easy Survey</h2>
  </div>
  <div role="tablist" class="tabs tabs-bordered max-w-xs mx-auto">
    <a role="tab" class="tab" routerLink="home" routerLinkActive="tab-active">Create form</a>
    <a role="tab" class="tab" routerLink="viewform" routerLinkActive="tab-active">View form</a>
    <a role="tab" class="tab" routerLink="store" routerLinkActive="tab-active">Store Form</a>
  </div>
</header>