<label [attr.for]="controlKeyName()" class="form-control w-full max-w-xs">

  @if (label()) {
    <div class="label">
      <span class="label-text">{{ label() }}</span>
    </div>
  }

  <input type="text" [id]="controlKeyName()" [formControlName]="controlKeyName()" class="input input-bordered input-sm"
    [placeholder]="inputPlaceholder() || 'placeholder'" [ngClass]="{'input-error': isFormControlValid}" />

  <!-- TODO: create a reuseable error component  -->
  @if (isFormControlValid) {
    @for (message of validationErrors; track $index) {
      <app-form-control-error [message]="message" />
    }
  }

</label>