<div class="container max-w-screen-lg mx-auto grid gap-4 mt-6">
  <div class="text-center">
    <h2 class="text-xl font-medium my-2">
      Fast geschafft!<br class="sm:hidden" />
      Schließen Sie Ihre Zahlung sicher ab
    </h2>
    <p class="text-base max-w-md mx-auto">
      Ihr Formular ist bereit zur Veröffentlichung. Nutzen Sie unseren sicheren Zahlungsanbieter
      <svg-icon name="stripe-wordmark" svgClass="w-12 inline-block" />
      um die Zahlung schnell und einfach abzuschließen
    </p>
  </div>

  <div class="divider my-1"></div>

  <div class="max-w-screen-md mx-auto">
    <app-basic-card>
      <div class="card-body">
        <h2 class="text-lg font-medium mb-2">Zustimmungserklärung</h2>

        <p>
          Ich willige ein, dass durch das Klicken auf den „Zustimmen“-Button das Zahlungsformular von Stripe geladen
          wird. Dabei werden bestimmte Daten, einschließlich personenbezogener Daten, an Stripe gesendet, um den
          Zahlungsprozess bereitzustellen und zu verarbeiten. Weitere Informationen zur Datenverarbeitung durch Stripe
          finden Sie in den Datenschutzrichtlinien von Stripe
        </p>

        <div class="card-actions justify-end">
          <button type="button" class="btn btn-primary mt-2" [disabled]="isButtonDisabled$ | async" #consentButton>
            {{ buttonText }}
          </button>
        </div>
      </div>
    </app-basic-card>
  </div>

  <!-- Start the stripe checkout session by using async pipe -->
  @if (checkout$ | async; as stripeEmbeddedCheckout) {
  <app-stripe-embedded-checkout-form [stripeEmbeddedCheckout]="stripeEmbeddedCheckout" />
  } @else if (errorMessage) {
  <!-- Display error message if there is any -->
  <app-display-error-message [errorMessage]="errorMessage"></app-display-error-message>
  }
  @else {
  <app-loading />
  }
</div>