@if (control) {
<div class="form-control w-full max-w-xs">

  @for (c of formControlArray.controls; track $index) {
  <label class="label gap-2 justify-normal cursor-pointer">
    <input type="checkbox" [formControl]="c" class="checkbox checkbox-sm"
      [ngClass]=" {'input-error': isFormControlValid}">
    <span class="label-text">{{ options()[$index] }}</span>
  </label>
  }

  @if (isFormControlValid) {
  @for (message of validationErrors; track $index) {
  <app-form-control-error [message]="message" />
  }
  }
</div>

}