<label [attr.for]="controlKeyName()" class="form-control w-full max-w-xs">
  <div class="label">
    <ng-content select="[slot='label']" />
  </div>
  <select [id]="controlKeyName()" [name]="controlKeyName()" [formControlName]="controlKeyName()"
    class="select select-bordered select-sm" [ngClass]="{'select-error': isFormControlValid}">
    <option value selected disabled>Select option</option>
    @for (option of options(); track $index; let i=$index) {
    <option [value]="option">{{ option }}</option>
    }
  </select>
  @if (isFormControlValid) {
  @for (message of validationErrors; track $index) {
  <app-form-control-error [message]="message" />
  }
  }
</label>