<div class="h-full overflow-hidden container grid gap-4 max-w-screen-lg mx-auto relative">

  @if (isLoading) {
  <app-loading></app-loading>
  }

  @if (errorMessage) {
  <div role="alert" class="alert h-fit alert-error">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{ errorMessage }} </span>
  </div>
  }

  @if (!isLoading && !errorMessage) {
  <!-- Display survey statistics -->
  <app-display-statistic [statistics]="surveyStatistics"></app-display-statistic>

  <!-- Display charts -->
  <app-chart-list [submission]="submissionCounts" />

  <!-- Display table statistic -->
  <app-table-statistic [submission]="submissionInputs"></app-table-statistic>
  }
</div>