<div class="container grid gap-4 max-w-screen-lg mx-auto">
  @if (isLoading) {
  <span class="loading loading-infinity loading-lg"></span>
  }

  @if (errorMessage) {
  <div role="alert" class="alert alert-error">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{ errorMessage }} </span>
  </div>
  }

  @if (!isLoading && !errorMessage) {
  <!-- Display survey statistics -->
  <app-display-statistic [statistics]="surveyStatistics"></app-display-statistic>

  <!-- Display charts -->
  <app-chart-list [submission]="submission" />

  <!-- Display table statistic -->
  <h3 class="text-xl mt-4">Benutzerdefinierte Antworten</h3>
  <app-basic-card>
    <app-table-statistic [statistic]="submissionTable"></app-table-statistic>
  </app-basic-card>
  }
</div>