<div class="max-w-sm mx-auto">
  <app-basic-card>
    <div class="card-body grid gap-4">
      <h2 class="card-title justify-center">Formular bereits bezahlt</h2>
      <p class="text-center">
        Ihr Formular wurde bereits bezahlt und ist online. Scannen oder teilen Sie den folgenden QR-Code, um Ihr
        Formular anzuzeigen oder weiterzugeben
      </p>

      @if (qrCodeResponse$ | async; as svg) {
        <div class="w-60 mx-auto">
          <app-display-qr-code [qrCode]="svg" />
        </div>
      } @else {
        <div class="my-8">
          <app-loading />
        </div>
      }

      <div class="divider mt-0">oder</div>

      <button type="button" class="btn btn-success" [routerLink]="['/survey', surveyId, 'view']">
        Weiter zum Formular
      </button>
    </div>
  </app-basic-card>
</div>
