<app-basic-card cdkDrag class="flex">
  <div *cdkDragPlaceholder class="border-4 border-dotted bg-slate-500 min-h-20 transition-transform"></div>
  <div
    class="flex justify-center text-gray-500 hover:cursor-move transition-colors hover:bg-primary rounded-t-md hover:text-white"
    cdkDragHandle
  >
    <svg-icon name="grip-horizontal" svgClass="size-5" />
  </div>

  <div class="card-body grid gap-4">
    <div class="flex w-full">
      <input type="text" class="input w-full" placeholder="Frage" [(ngModel)]="surveyBaseModel.title" />
      <div class="divider divider-horizontal"></div>
      <app-create-component [controlType]="model.type" (controlTypeChanged)="onControlTypeChanged($event)" />
    </div>

    @if (hasDescription) {
      <input
        type="text"
        class="input input-sm ps-4 pe-4 w-full"
        placeholder="Beschreibung"
        [(ngModel)]="surveyBaseModel.description"
      />
    }

    <!-- Render component based on the control type -->
    <ng-container #component></ng-container>

    <div class="card-actions items-start justify-between border-t pt-2">

      <!-- Handly dynamic validator change and update the validators object -->
      <div class="flex flex-col gap-2">
        <app-dynamic-validator
          [validators]="validators"
          [validatorState]="surveyBaseModel.state().validator"
          (validatorValueChange)="onValidatorValueChange($event)"
        />
      </div>

      <div>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text mr-1">Beschreibung</span>
            <input type="checkbox" class="checkbox checkbox-sm" [(ngModel)]="hasDescription" />
          </label>
        </div>
        <div class="flex gap-1 justify-end">
          <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="remove.emit()">
            <svg-icon name="trash" svgClass="size-5" />
          </button>
          <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="clone()">
            <svg-icon name="copy" svgClass="size-5" />
          </button>
        </div>
      </div>

    </div>
  </div>

</app-basic-card>
