<app-basic-card cdkDrag class="flex">
  <div *cdkDragPlaceholder class="border-4 border-dotted bg-slate-500 min-h-20 transition-transform"></div>
  <div
    class="flex justify-center text-gray-500 hover:cursor-move transition-colors hover:bg-primary rounded-t-md hover:text-white"
    cdkDragHandle
  >
    <svg-icon name="grip-horizontal" svgClass="size-5" />
  </div>

  <div class="card-body !p-2 grid gap-4">
    <div class="flex flex-col sm:flex-row w-full gap-4">
      <input type="text" class="input font-medium w-full" placeholder="Frage" [(ngModel)]="surveyBaseModel.title" />

      <!-- Create Dropdown component to select the control type-->
      <app-create-component [controlType]="model.type" (controlTypeChanged)="onControlTypeChanged($event)" />
    </div>

    @if (hasDescription) {
      <input
        type="text"
        class="input input-sm ps-4 pe-4 w-full"
        placeholder="Beschreibung"
        [(ngModel)]="surveyBaseModel.description"
      />
    }

    <!-- Render component based on the control type -->
    <div class="px-4">
      <ng-container #component></ng-container>
    </div>

    <!-- Handly dynamic validator change and update the validators object -->
    <div class="flex flex-col mt-4 pl-4 -ms-1 max-w-48">
      <span class="text-xs text-gray-500 mx-1 my-2">Zusätzliche Regeln</span>
      <app-dynamic-validator
        [validators]="validators"
        [validatorState]="surveyBaseModel.state().validator"
        (validatorValueChange)="onValidatorValueChange($event)"
      />
    </div>

    <div class="card-actions justify-between border-t mx-4 pt-2">
      <div class="form-control">
        <label class="label py-1 cursor-pointer px-0">
          <svg-icon name="abc" svgClass="size-6" />
          <input type="checkbox" class="checkbox checkbox-sm ml-2" [(ngModel)]="hasDescription" />
        </label>
      </div>
      <div class="flex gap-2 items-center">
        <button type="button" class="btn btn-sm btn-ghost btn-circle">
          <svg-icon name="eye" svgClass="size-5" />
        </button>
        <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="clone()">
          <svg-icon name="copy" svgClass="size-5" />
        </button>
        <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="remove.emit()">
          <svg-icon name="trash" svgClass="size-5" />
        </button>
      </div>
    </div>
  </div>
</app-basic-card>
