<div class="grid gap-2 max-w-screen-md mx-auto mt-20 text-center">
  <svg-icon name="rosette-discount-check" svgClass="size-16" class="inline-flex justify-center text-success"></svg-icon>
  <span class="text-gray-500">Bezahlung erfolgreich abgeschlossen!</span>
  <h2 class="text-xl font-bold my-2">Herzlichen Glückwunsch.<br class="sm:hidden" /> Sie haben es geschafft!</h2>
  <div class="text-sm">
    <span class="text-gray-500">Formular-ID: </span>
    <span class="font-medium">{{ stripeCheckoutSession.surveyId }}</span>
  </div>

  <div class="divider"></div>

  <div class="w-full max-w-sm mx-auto">
    <app-basic-card>
      <div class="card-body text-center">
        @if (qrCodeResponse$ | async; as svg) {
        <div class="text-lg font-medium">QR-Code scannen</div>
        <p class="max-w-40 mx-auto">Scannen oder teilen Sie den folgenden QR-Code </p>

        <!-- Display QR-Code  -->
        <div class="w-60 mx-auto">
          <app-display-qr-code [qrCode]="svg" />
        </div>

        <div class="divider mt-0">oder</div>

        <!-- Continue to view survey -->
        <button type="button" class="btn btn-success w-full mx-auto"
          [routerLink]="['/survey', stripeCheckoutSession.surveyId, 'viewform']">
          Weiter zum Formular
        </button>

        } @else {
        <div class="skeleton h-40 w-40 mx-auto"></div>
        }
      </div>
    </app-basic-card>
  </div>


  <!-- Nächste Schritte -->
  <h3 class="mt-20 text-left text-lg font-semibold">Nächste Schritte:</h3>
  <ul class="text-left list-disc list-inside space-y-1">
    <li>Überprüfen Sie Ihr Formular, indem Sie den QR-Code scannen</li>
    <li>Teilen Sie den QR-Code mit anderen, um das Formular zugänglich zu machen</li>
    <li>Falls Sie Rückfragen haben, wenden Sie sich an unseren Support mit Ihrer Formular-ID</li>
  </ul>
</div>