<div class="grid gap-4 p-4 bg-red-300">
  <select class="select" #mySelect (change)="trackChange" name="" id="">
    <option value="1">1</option>
    <option value="2">2</option>
  </select>
  <ng-template #i>
    <input type="text" name="test" id="abc" [formControl]="control">
  </ng-template>
  <ng-template #s>
    <select name="" id="" [formControl]="control">
      <option>hello</option>
      <option>world!</option>
    </select>
  </ng-template>
  <ng-container *ngIf="mySelect.value === '1'; then i else s"></ng-container>
  <input type="checkbox" name="" id="" #r (change)="toggleRequired(r.checked)">
  {{ mySelect.value }}
</div>