<div class="hero">
  <div class="hero-content p-0 text-center">
    <div class="max-w-lg">
      <svg-icon name="rosette-discount-check" svgClass="size-16" class="inline-flex text-success"></svg-icon>
      <h2 class="text-xl font-bold my-2">Formular erfolgreich gespeichert</h2>

      <p class="my-4 sm:my-6">
        Ihr Formular wurde erfolgreich gespeichert. Um es zu nutzen, führen Sie bitte den nächsten Schritt aus
      </p>

      <p class="my-4 sm:my-6"><em>Schritt 2:</em> Bitte schließen Sie die Zahlung ab, um Ihr Formular zu aktivieren und
        Ihren persönlichen QR-Code zu erhalten</p>

      <p class="my-4 sm:my-6">Ihre Formular-ID: <strong>66e14b73-a1ac-800d-99ee-8136d7b51562</strong>
      </p>

      <p class="my-4 sm:my-6">
        <em>Wichtig:</em> Diese ID wird Ihnen nur einmal angezeigt. Bitte notieren oder speichern Sie sie, da sie für
        zukünftige Rückfragen oder Supportanfragen erforderlich ist
      </p>

      <button class="btn btn-primary mt-6">Zur Zahlung fortfahren</button>
    </div>
  </div>
</div>