<div class="max-w-screen-sm mx-auto">
  <form class="grid gap-4" [formGroup]="form" (ngSubmit)="submit()">
    <app-basic-card>
      <h2 class="text-base font-semibold leading-8">Profile</h2>
      <p class="mt-1 text-sm leading-6">This information will be displayed publicly</p>
      <app-form-control-input inputControlName="first" [inputValidatorsFn]="fieldValidatorsFn">
        <span slot="label" class="label-text">My Label</span>
      </app-form-control-input>
    </app-basic-card>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{ form.value | json }}