@if (control) {
<label class="form-control w-full max-w-xs">
  <select [formControl]="control" class="select select-bordered select-sm"
    [ngClass]="{'select-error': isFormControlValid}">
    <option value selected disabled>Auswählen</option>
    @for (option of options(); track $index; let i=$index) {
      <option [value]="option">{{ option }}</option>
    }
  </select>

  @if (isFormControlValid) {
    @for (message of validationErrors; track $index) {
      <app-form-control-error [message]="message" />
    }
  }
</label>
}